//remove versions

arrow
asgiref
beautifulsoup4
binaryornot
bs4
chardet
colorama
cookiecutter
Django
django-browser-reload
django-extensions
django-phonenumber-field
django-proxy
django-proxy-server
django-tailwind
env
jinja2-time
markdown-it-py
mdurl
phonenumbers
python-slugify
rich
soupsieve
tailwind
text-unidecode
types-python-dateutil