arrow
asgiref
beautifulsoup4
binaryornot
bs4
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
Django
django-browser-reload
django-extensions
django-phonenumber-field
django-proxy
django-proxy-server
django-tailwind
env
idna
Jinja2
jinja2-time
markdown-it-py
MarkupSafe
mdurl
phonenumbers
pillow
Pygments
python-dateutil
python-slugify
PyYAML
requests
rich
six
soupsieve
sqlparse
tailwind
text-unidecode
types-python-dateutil
urllib3
django-tailwind
