{% load static %}
{% load static tailwind_tags %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{%tailwind_css%}
<div class="logo">
    <img src="{%static 'images/1.png' %}" alt="" srcset="" style="width: 50px;">
    <img src="{%static 'images/2.jpg' %}" alt="" srcset="" style="width: 50px;">
    <img src="{%static 'images/3.png' %}" alt="" srcset="" style="width: 50px;">
    <img src="{%static 'images/4.png' %}" alt="" srcset="" style="width: 50px;">
    <img src="{%static 'images/5.png' %}" alt="" srcset="" style="width: 50px;">
    <img src="{%static 'images/6.png' %}" alt="" srcset="" style="width: 50px;">
</div>
<script src="{% static 'js/home.js' %}"></script>